body {
	font-family: "Poppins", sans-serif;
	padding: 20px;
}
/* scrollbar thin purple */
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background: #8b5cf6;
	border-radius: 10px;
}
